<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frontend</title>
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8080/static/bootstrap/css/bootstrap.css">
</head>
<body>
<div id="app">
    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong>{{ message }}</strong>
                </a>
            </div>
        </div>
    </header>
    <br>
    <div v-for="serv in services">
        {{serv.name}} - {{serv.status}}
    </div>
    <div v-if="error">
        <h2 style="color: #a53c57">{{error}}</h2>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: 'Frontend server',
      services: [],
      error: null
    },
    mounted: function () {
      const self = this;
      fetch('http://127.0.0.1:8080/backend/')
        .then(function (response) {
          return response.json()
        })
        .then(function (resp) {
          self.services.push(resp);
        }).catch(function () {
        self.error = 'Backend server not work';
      });
    }
  })
</script>
</body>
</html>